.pbmit-client-style-2 .pbmit-border-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 40px 10px;
	border-radius: 30px;
	background-color: var(--pbmit-xclean-light-bg-color);
}
.pbmit-client-style-2 .pbmit-client-wrapper {
	overflow: hidden;
	z-index: 1;
	height: -webkit-max-content;
	display: inline-block;
}
.pbmit-client-style-2 .pbmit-border-wrapper{
	transition: all .4s ease-in;
}
.pbmit-client-style-2 .pbmit-client-with-hover-img .pbmit-featured-wrapper,
.pbmit-client-style-2 .pbmit-client-with-hover-img .pbmit-client-hover-img {
	-webkit-transition: -webkit-transform .4s ease;
	-moz-transition: transform .4s ease;
	-o-transition: transform .4s ease;
	transition: transform .4s ease, -webkit-transform .4s ease;
}
.pbmit-client-style-2 .pbmit-client-hover-img {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	transform: translateY(-100%);
}
.pbmit-client-style-2:hover .pbmit-client-with-hover-img .pbmit-client-hover-img {
	visibility: visible;
	transform: translateY(0%);
}
.pbmit-client-style-2:hover .pbmit-client-with-hover-img .pbmit-featured-wrapper {
	transform: translateY(100%);
}
.pbmit-elementor-bg-color-light .pbmit-client-style-2 .pbmit-border-wrapper {
	background-color: var(--pbmit-xclean-white-color);
}