.pbmit-portfolio-style-2 .pbminfotech-post-content{
	position: relative;
	text-align: center;
	overflow: visible;
}
.pbmit-portfolio-style-2 .pbmit-portfolio-title{
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	margin-top: 5px;
	text-transform: uppercase;
}
.pbmit-element-portfolio-style-2 .swiper-container{
	overflow: visible;
}
.pbmit-portfolio-style-2 .pbmit-featured-img-wrapper img{
	width: 100%;
	border-radius: 30px;
}
.pbmit-portfolio-style-2 .pbminfotech-box-content {
	position: absolute;
	z-index: 3;
	bottom: 30px;
	left: 30px;
	padding: 30px;
	opacity: 0;
	max-width: 300px;
	word-break: break-word;
	-webkit-transition: clip-path 0.4s ease-out;
	transition: clip-path 0.4s ease-out;
	overflow: hidden;
	opacity: 0;
	clip-path: inset(0 100% 0 0);
	-webkit-clip-path: inset(0 100% 0 0);
}
.rtl .pbmit-portfolio-style-2 .pbminfotech-box-content{
	left: inherit;
	right: 30px;
}
.pbmit-portfolio-style-2 .pbminfotech-box-content .pbmit-cat {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	padding: 8px 20px 5px 20px;
	border-radius: 10px 10px 0 0;
	color: var(--pbmit-xclean-blackish-color);
	background-color: var(--pbmit-xclean-white-color);
}
.pbmit-portfolio-style-2 .pbminfotech-box-content .pbmit-cat::after {
	content: '';
	position: absolute;
	background-color: transparent;
	bottom: 0px;
	right: -10px;
	height: 30px;
	width: 10px;
	z-index: -1;
	border-bottom-left-radius: 10px;
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-white-color);
}
.pbmit-portfolio-style-2 .pbminfotech-box-content .pbmit-title {
	font-size: 22px;
	line-height: 28px;
	width: 260px;
	word-wrap: break-word;
	margin-bottom: 0;
	padding: 5px 20px 10px 20px;
	border-radius: 0 10px 10px 10px;
	color: var(--pbmit-xclean-blackish-color);
	background-color: var(--pbmit-xclean-white-color);
}
.pbmit-cursor.-tooltip .pbmit-cursor-text .pbmit-title{
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
}
.pbmit-portfolio-style-2 .pbmit-featured-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 30px;
}
.pbmit-portfolio-style-2 .pbmit-featured-wrapper img {
	position: relative;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.pbmit-portfolio-style-2:hover .pbmit-featured-wrapper img {
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03);
}
.pbmit-element-portfolio-style-2.pbmit-element-viewtype-carousel.pbminfotech-gap-5px .pbmit-ele-group-wrapper .pbmit-ele:nth-child(2) {
	margin-top: 5px;
}
.pbmit-element-portfolio-style-2.pbmit-element-viewtype-carousel.pbminfotech-gap-10px .pbmit-ele-group-wrapper .pbmit-ele:nth-child(2) {
	margin-top: 10px;
}
.pbmit-element-portfolio-style-2.pbmit-element-viewtype-carousel.pbminfotech-gap-15px .pbmit-ele-group-wrapper .pbmit-ele:nth-child(2) {
	margin-top: 15px;
}
.pbmit-element-portfolio-style-2.pbmit-element-viewtype-carousel.pbminfotech-gap-20px .pbmit-ele-group-wrapper .pbmit-ele:nth-child(2) {
	margin-top: 20px;
}
.pbmit-element-portfolio-style-2.pbmit-element-viewtype-carousel.pbminfotech-gap-25px .pbmit-ele-group-wrapper .pbmit-ele:nth-child(2) {
	margin-top: 25px;
}
.pbmit-element-portfolio-style-2.pbmit-element-viewtype-carousel.pbminfotech-gap-default .pbmit-ele-group-wrapper .pbmit-ele:nth-child(2),
.pbmit-element-portfolio-style-2.pbmit-element-viewtype-carousel.pbminfotech-gap-30px .pbmit-ele-group-wrapper .pbmit-ele:nth-child(2) {
	margin-top: 30px;
}