.pbmit-portfolio-style-1{
	overflow: hidden;
}
.pbmit-portfolio-style-1 .pbminfotech-post-content{
	position: relative;
}
.pbmit-portfolio-style-1 .pbminfotech-box-content{
	padding: 20px 20px 0 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	overflow: hidden;
}
.rtl .pbmit-portfolio-style-1 .pbminfotech-box-content{
	padding: 20px 0 0 20px;
	left: inherit;
	right: 0;
}
.pbmit-portfolio-style-1 .pbminfotech-box-content::before,
.pbmit-portfolio-style-1 .pbminfotech-box-content::after {
	content: "";
	position: absolute;
	background-color: transparent;
	bottom: 0;
	height: 40px;
	width: 20px;
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-white-color);
}
.pbmit-portfolio-style-1 .pbminfotech-box-content::before {
	top: -20px;
	bottom: initial;
	border-bottom-left-radius: 20px;
}
.rtl .pbmit-portfolio-style-1 .pbminfotech-box-content::before{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 20px;
}
.pbmit-portfolio-style-1 .pbminfotech-box-content::after {
	right: 0;
	border-bottom-left-radius: 20px;
}
.rtl .pbmit-portfolio-style-1 .pbminfotech-box-content::after{
	left: 0;
	right: auto;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 20px;
}
.pbmit-portfolio-style-1 .pbminfotech-titlebox {
	padding: 20px;
	-webkit-border-radius: 0 30px 0 0;
	border-radius: 0 30px 0 0;
	background-color: var(--pbmit-xclean-white-color);
}
.rtl .pbmit-portfolio-style-1 .pbminfotech-titlebox{
	-webkit-border-radius: 30px 0 0 0;
	border-radius: 30px 0 0 0;
}
.pbmit-portfolio-style-1 .pbmit-portfolio-title{
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
}
.pbmit-portfolio-style-1 .pbminfotech-image-wapper {
	position: relative;
	z-index: 0;
}
.pbmit-portfolio-style-1 .pbmit-featured-wrapper{
	position: relative;
	overflow: hidden;
}
.pbmit-portfolio-style-1 .pbmit-featured-wrapper img{
	width: 100%;
	transform: scale(1.05) rotate(.5deg);
	transform-origin: 90% 50%;
	border-radius: 30px;
	transition: transform 1.2s cubic-bezier(.4, .01, .14, .99);
}
.pbmit-portfolio-style-1:hover .pbmit-featured-wrapper img{
	transform: scale(1.001) rotate(0);
}
.pbmit-element-portfolio-style-1 .pbmit-element-inner .swiper-wrapper{
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.pbmit-portfolio-style-1 .pbmit-featured-wrapper {
	position: relative;
	overflow: hidden;
	border-radius: 30px;
}
/* Bg Color */
.pbmit-elementor-bg-color-light .pbmit-portfolio-style-1 .pbminfotech-titlebox {
	background-color: var(--pbmit-xclean-light-bg-color);
}
.pbmit-elementor-bg-color-light .pbmit-portfolio-style-1 .pbminfotech-box-content::before,
.pbmit-elementor-bg-color-light .pbmit-portfolio-style-1 .pbminfotech-box-content::after {
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-light-bg-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-portfolio-style-1 .pbminfotech-titlebox {
	background-color: var(--pbmit-xclean-blackish-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-portfolio-style-1 .pbminfotech-box-content::before,
.pbmit-elementor-bg-color-blackish .pbmit-portfolio-style-1 .pbminfotech-box-content::after {
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-portfolio-style-1 .pbmit-port-cat a,
.pbmit-elementor-bg-color-blackish .pbmit-portfolio-style-1 .pbmit-port-cat a {
	color: var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-portfolio-style-1 .pbmit-port-cat a:hover,
.pbmit-elementor-bg-color-blackish .pbmit-portfolio-style-1 .pbmit-port-cat a:hover {
	color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-portfolio-style-1 .pbmit-portfolio-title a,
.pbmit-elementor-bg-color-blackish .pbmit-portfolio-style-1 .pbmit-portfolio-title a {
	color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-portfolio-style-1 .pbmit-portfolio-title a:hover,
.pbmit-elementor-bg-color-blackish .pbmit-portfolio-style-1 .pbmit-portfolio-title a:hover {
	color: var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-portfolio-style-1 .pbminfotech-titlebox {
	background-color: var(--pbmit-xclean-secondary-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-portfolio-style-1 .pbminfotech-box-content::before,
.pbmit-elementor-bg-color-secondary .pbmit-portfolio-style-1 .pbminfotech-box-content::after {
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-secondary-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-portfolio-style-1 .pbminfotech-titlebox,
.pbmit-elementor-bg-color-globalcolor .pbmit-portfolio-style-1 .pbminfotech-titlebox {
	background-color: var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-portfolio-style-1 .pbminfotech-box-content::before,
.pbmit-elementor-bg-color-gradient .pbmit-portfolio-style-1 .pbminfotech-box-content::after,
.pbmit-elementor-bg-color-globalcolor .pbmit-portfolio-style-1 .pbminfotech-box-content::before,
.pbmit-elementor-bg-color-globalcolor .pbmit-portfolio-style-1 .pbminfotech-box-content::after {
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-portfolio-style-1 .pbmit-portfolio-title a:hover,
.pbmit-elementor-bg-color-globalcolor .pbmit-portfolio-style-1 .pbmit-portfolio-title a:hover {
	color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-portfolio-style-1 .pbmit-port-cat a,
.pbmit-elementor-bg-color-globalcolor .pbmit-portfolio-style-1 .pbmit-port-cat a {
	color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-portfolio-style-1 .pbmit-port-cat a:hover,
.pbmit-elementor-bg-color-globalcolor .pbmit-portfolio-style-1 .pbmit-port-cat a:hover {
	color: var(--pbmit-xclean-blackish-color);
}