.pbmit-ihbox-style-15 .pbmit-ihbox-box{
	display: flex;
	align-items: center;
}
.pbmit-ihbox-style-15 {
	position: relative;
	padding: 25px 30px 10px 0;
	border-radius: 0 30px 0 0;
	background-color: var(--pbmit-xclean-white-color);
}
body.rtl .pbmit-ihbox-style-15 {
	padding: 25px 0 10px 30px;
	border-radius: 30px 0 0 0;
}
.pbmit-ihbox-style-15 .pbmit-element-title{
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 0;
}
.pbmit-ihbox-style-15 .pbmit-ihbox-icon,
.pbmit-ihbox-style-15 .pbmit-ihbox-svg{
	margin-right: 15px;
	position: relative;
	display: inline-block;
	color: var(--pbmit-xclean-global-color);
}
body.rtl .pbmit-ihbox-style-15 .pbmit-ihbox-icon,
body.rtl .pbmit-ihbox-style-15 .pbmit-ihbox-svg {
	margin-left: 15px;
	margin-right: inherit;
}
.pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper.pbmit-icon-type-icon,
.pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper.pbmit-ihbox-icon-type-text,
.pbmit-ihbox-style-15 .pbmit-ihbox-svg-wrapper{
	font-size: 24px;
	line-height: 34px;
	color: var(--pbmit-xclean-blackish-color);
	border: 1px solid rgba(var(--pbmit-xclean-blackish-color-rgb),.4);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper.pbmit-ihbox-icon-type-text{
	font-size: 14px;
}
.pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper img{
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
}
.pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper svg,
.pbmit-ihbox-style-15 .pbmit-ihbox-svg-wrapper svg{
	fill: var(--pbmit-xclean-global-color);
	margin-bottom: 5px;
}
.pbmit-ihbox-style-15 .pbmit-element-title a{
	pointer-events: none;
}
.pbmit-ihbox-style-15 .pbmit-sticky-corner {
    transform: rotate(90deg);
}
body.rtl .pbmit-ihbox-style-15 .pbmit-sticky-corner {
	transform: rotate(360deg);
}
.pbmit-ihbox-style-15 .pbmit-bottom-left-corner {
	top: -30px;
	left: 0;
}
body.rtl .pbmit-ihbox-style-15 .pbmit-bottom-left-corner {
	right: 0;
	left: inherit;
}
.pbmit-ihbox-style-15 .pbmit-top-right-corner {
	top: auto;
	right: -30px;
	bottom: 0;
}
body.rtl .pbmit-ihbox-style-15 .pbmit-top-right-corner {
	left: -30px;
	right: inherit;
}
/* == For bg color == */
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-15 .pbmit-element-title a,
.pbmit-elementor-bg-color-blackish  .pbmit-ihbox-style-15 .pbmit-element-title a,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-15 .pbmit-element-title,
.pbmit-elementor-bg-color-blackish  .pbmit-ihbox-style-15 .pbmit-element-title {
	color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-15 .pbmit-ihbox-svg-wrapper svg,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-15 .pbmit-ihbox-svg-wrapper svg,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper svg,
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper svg {
	color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-light .pbmit-ihbox-style-15 {
	background-color: var(--pbmit-xclean-light-bg-color);
}
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-15 {
	background-color: var(--pbmit-xclean-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-15 {
	background-color: var(--pbmit-xclean-secondary-color);
}
.pbmit-elementor-bg-color-gradient .pbmit-ihbox-style-15,
.pbmit-elementor-bg-color-globalcolor .pbmit-ihbox-style-15 {
	background-color: var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper.pbmit-icon-type-icon,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper.pbmit-ihbox-icon-type-text,
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-15 .pbmit-ihbox-svg-wrapper,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper.pbmit-icon-type-icon,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-15 .pbmit-ihbox-icon-wrapper.pbmit-ihbox-icon-type-text,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-15 .pbmit-ihbox-svg-wrapper {
	color: var(--pbmit-xclean-global-color);
	border-color: var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-ihbox-style-15 .pbmit-ihbox-svg-wrapper svg,
.pbmit-elementor-bg-color-blackish .pbmit-ihbox-style-15 .pbmit-ihbox-svg-wrapper svg {
	fill: var(--pbmit-xclean-global-color);
}