.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-box {
	padding: 60px 40px;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
	background-color: var(--pbmit-xclean-light-bg-color);
}
/* featured text */
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-feature-wrap {
	position: absolute;
	top: 0;
	right: 0;
}
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptablebox-highlight-text{
	width: max-content;
	padding: 10px 30px;
	border-radius: 0 0 0 20px;
	font-size: 15px;
	line-height: 15px;
	position: relative;
	color: var(--pbmit-xclean-white-color);
	background: var(--pbmit-xclean-global-color);
}
/* price heading */
.pbminfotech-ele-ptable-style-1 .pbmit-head-wrap {
	padding-bottom: 35px;
	margin-bottom: 40px;
	position: relative;
	border-bottom: 1px solid rgba(var(--pbmit-xclean-blackish-color-rgb), 0.15);
}
.pbminfotech-ele-ptable-style-1 .pbmit-head-wrap::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	bottom: -1px;
	left: 0;
	background-color: var(--pbmit-xclean-global-color);
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.pbminfotech-ele-ptable-style-1 .pbmit-ptable-col:hover .pbmit-head-wrap::before {
	width: 100%;
}
.pbminfotech-ele-ptable-style-1 .pbminfotech-ptable-heading {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 10px;
}
.pbminfotech-ele-ptable-style-1 .pbmit-ptable-price-w {
	display: flex;
    align-items: flex-start;
    color: var(--pbmit-xclean-blackish-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-price-wrapper {
	display: inline-flex;
	align-items: flex-end;
}
.pbminfotech-ele-ptable-style-1 .pbminfotech-ptable-symbol {
	font-size: 36px;
	line-height: 46px;
}
.pbminfotech-ele-ptable-style-1 .pbminfotech-ptable-price {
    font-size: 72px;
    line-height: 72px;
}
.pbminfotech-ele-ptable-style-1 .pbminfotech-ptable-frequency {
	font-size: 14px;
	line-height: 24px;
	position: relative;
	font-weight: 600;
}
.pbminfotech-ele-ptable-style-1 .pbminfotech-ptable-frequency::before {
	content: '/';
	padding-right: 5px;
	display: inline-block;
}
/* ptable list */
.pbminfotech-ele-ptable-style-1 .pbmit-ptable-line{
	margin-bottom: 15px;
	position: relative;
	padding-left: 30px;
	color: #565656;
}
.pbminfotech-ele-ptable-style-1 .pbmit-ptable-line:last-child{
	margin-bottom: 0;
}
.pbminfotech-ele-ptable-style-1 .pbmit-ptable-line svg,
.pbminfotech-ele-ptable-style-1 .pbmit-ptable-line .pbmit-ptable-line-svg,
.pbminfotech-ele-ptable-style-1 .pbmit-ptable-line i{
	font-size: 20px;
	position: absolute;
	left: 0;
	top: 2px;
	color: var(--pbmit-xclean-blackish-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-ptable-line svg{
	width: 20px;
	height: 20px;
	fill: var(--pbmit-xclean-blackish-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-ptable-lines {
	padding-bottom: 60px;
}
/* button */
.pbminfotech-ele-ptable-style-1 .pbmit-price-btn {
	display: inline-table;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 10px 15px 0 15px;
	border-radius: 30px 30px 0 0;
	background-color: var(--pbmit-xclean-white-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-price-btn::after,
.pbminfotech-ele-ptable-style-1 .pbmit-price-btn::before {
	content: "";
    position: absolute;
    background-color: transparent;
    bottom: 0;
    height: 40px;
    width: 20px;
	box-shadow: 0 15px 0 0 var(--pbmit-xclean-white-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-price-btn::before {
	right: 100%;
    border-bottom-right-radius: 15px;
}
.pbminfotech-ele-ptable-style-1 .pbmit-price-btn::after{
	left: 100%;
	border-bottom-left-radius: 15px;
}
.pbminfotech-ele-ptable-style-1 .pbmit-price-btn a {
	display: inline-block;
	padding: 19px 30px 17px 30px;
	border-radius: 50px;
	color: var(--pbmit-xclean-white-color);
	background-color: var(--pbmit-xclean-blackish-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-price-btn a:hover {
	color: var(--pbmit-xclean-white-color);
	background-color: var(--pbmit-xclean-global-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-price-btn a {
	background-color: var(--pbmit-xclean-global-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-price-btn a:hover {
	background-color: var(--pbmit-xclean-blackish-color);
}
/* pbmit-pricing-table-featured-col */
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-pricing-table-box {
	background-color: var(--pbmit-xclean-blackish-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-head-wrap {
	border-color: rgba(var(--pbmit-xclean-white-color-rgb), 0.15);
}
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line,
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-price-w,
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbminfotech-ptable-heading {
	color: var(--pbmit-xclean-white-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbminfotech-ptable-frequency {
	color: rgba(var(--pbmit-xclean-white-color-rgb), 0.8);
}
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line i {
	color: var(--pbmit-xclean-global-color);
}
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line svg>*,
.pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line svg {
	fill: var(--pbmit-xclean-global-color);
	stroke: var(--pbmit-xclean-global-color);
}
/* bg color */
.pbmit-elementor-bg-color-light .pbminfotech-ele-ptable-style-1 .pbmit-ptable-col:not(.pbmit-pricing-table-featured-col) .pbmit-pricing-table-box {
	background-color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-light .pbminfotech-ele-ptable-style-1 .pbmit-price-btn {
	background-color: var(--pbmit-xclean-light-bg-color);
}
.pbmit-elementor-bg-color-light .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::after,
.pbmit-elementor-bg-color-light .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::before {
	box-shadow: 0 15px 0 0 var(--pbmit-xclean-light-bg-color);
}
/* blackish bg color */
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-pricing-table-box,
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-pricing-table-box {
	background-color: var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptablebox-highlight-text{
	background-color: var(--pbmit-xclean-blackish-color);
}
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-head-wrap,
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-head-wrap {
	border-color: rgba(var(--pbmit-xclean-white-color-rgb), 0.5);
}
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-head-wrap::before {
	background-color: var(--pbmit-xclean-blackish-color);
}
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line i {
	color: var(--pbmit-xclean-blackish-color);
}
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line svg>*,
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line svg {
	fill: var(--pbmit-xclean-blackish-color);
	stroke: var(--pbmit-xclean-blackish-color);
}
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-ptable-col:not(.pbmit-pricing-table-featured-col) .pbmit-price-btn a {
	color: var(--pbmit-xclean-blackish-color);
	background-color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-ptable-col:not(.pbmit-pricing-table-featured-col) .pbmit-price-btn a:hover,
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-ptable-col:not(.pbmit-pricing-table-featured-col) .pbmit-price-btn a:hover {
	color: var(--pbmit-xclean-white-color);
	background-color: var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-price-btn a:hover {
	color: var(--pbmit-xclean-blackish-color);
	background-color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-price-btn {
	background-color: var(--pbmit-xclean-blackish-color);
}
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::after,
.pbmit-elementor-bg-color-blackish .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::before {
	box-shadow: 0 15px 0 0 var(--pbmit-xclean-blackish-color);
}
/* secondary bg color */
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptablebox-highlight-text {
	background-color: var(--pbmit-xclean-secondary-color);
}
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-head-wrap::before {
	background-color: var(--pbmit-xclean-secondary-color);
}
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line i {
	color: var(--pbmit-xclean-secondary-color);
}
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line svg>*,
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-ptable-line svg {
	fill: var(--pbmit-xclean-secondary-color);
	stroke: var(--pbmit-xclean-secondary-color);
}
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-ptable-col:not(.pbmit-pricing-table-featured-col) .pbmit-price-btn a {
	color: var(--pbmit-xclean-secondary-color);
	background-color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-price-btn a:hover {
	color: var(--pbmit-xclean-secondary-color);
	background-color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-price-btn {
	background-color: var(--pbmit-xclean-secondary-color);
}
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::after,
.pbmit-elementor-bg-color-secondary .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::before {
	box-shadow: 0 15px 0 0 var(--pbmit-xclean-secondary-color);
}
/* global & gradient bg color */
.pbmit-elementor-bg-color-gradient .pbminfotech-ele-ptable-style-1 .pbmit-price-btn,
.pbmit-elementor-bg-color-globalcolor .pbminfotech-ele-ptable-style-1 .pbmit-price-btn {
	background-color: var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-gradient .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::after,
.pbmit-elementor-bg-color-gradient .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::before,
.pbmit-elementor-bg-color-globalcolor .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::after,
.pbmit-elementor-bg-color-globalcolor .pbminfotech-ele-ptable-style-1 .pbmit-price-btn::before {
	box-shadow: 0 15px 0 0 var(--pbmit-xclean-global-color);
}
.pbmit-elementor-bg-color-gradient .pbminfotech-ele-ptable-style-1 .pbmit-ptable-col:not(.pbmit-pricing-table-featured-col) .pbmit-price-btn a:hover,
.pbmit-elementor-bg-color-globalcolor .pbminfotech-ele-ptable-style-1 .pbmit-ptable-col:not(.pbmit-pricing-table-featured-col) .pbmit-price-btn a:hover {
	color: var(--pbmit-xclean-secondary-color);
	background-color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-gradient .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-price-btn a,
.pbmit-elementor-bg-color-globalcolor .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-price-btn a {
	color: var(--pbmit-xclean-secondary-color);
	background-color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-gradient .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-price-btn a:hover,
.pbmit-elementor-bg-color-globalcolor .pbminfotech-ele-ptable-style-1 .pbmit-pricing-table-featured-col .pbmit-price-btn a:hover {
	color: var(--pbmit-xclean-white-color);
	background-color: var(--pbmit-xclean-secondary-color);
}
/* colunm set */
.pbminfotech-ele-ptable-style-1 .col-md-20percent .pbmit-pricing-table-box,
.pbminfotech-ele-ptable-style-1 .col-md-3 .pbmit-pricing-table-box {
	padding: 20px 20px 40px 20px;
}
.pbminfotech-ele-ptable-style-1 .col-md-20percent .pbmit-price-btn,
.pbminfotech-ele-ptable-style-1 .col-md-3 .pbmit-price-btn {
	margin: 0 14%;
}
.pbminfotech-ele-ptable-style-1 .col-md-3 .pbminfotech-ptable-price {
	font-size: 60px;
	line-height: 60px;
}
.pbminfotech-ele-ptable-style-1 .col-md-3 .pbminfotech-ptable-symbol {
	font-size: 30px;
	line-height: 40px;
}
.pbminfotech-ele-ptable-style-1 .col-md-20percent .pbmit-price-btn a {
	padding: 12px 15px;
}
.pbminfotech-ele-ptable-style-1 .col-md-20percent .pbminfotech-ptable-price {
	font-size: 50px;
	line-height: 50px;
}
.pbminfotech-ele-ptable-style-1 .col-md-20percent .pbminfotech-ptable-symbol {
	font-size: 25px;
	line-height: 35px;
}
@media (max-width: 991px) {
	.pbminfotech-ele-ptable-style-1 .pbmit-ptable-col:not(:last-child) {
		margin-bottom: 30px;
	}
}