.pbmit-testimonial-style-2 .pbminfotech-post-item {
	position: relative;
	padding: 70px 70px 50px 70px;
	border-radius: 30px;
	background-color: rgba(var(--pbmit-xclean-light-bg-color-rgb), 0.1);
	border: 1px solid rgba(var(--pbmit-xclean-blackish-color-rgb), .15);
}
.pbmit-testimonial-style-2 .pbminfotech-box-title{
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 0;
}
.pbmit-testimonial-style-2 .pbmit-featured-wrapper img{
	width: 70px;
	height: 70px;
	border-radius: 100%;
}
.pbmit-testimonial-style-2 .pbmit-featured-wrapper {
	border-radius: 50px 50px 0 0px;
	padding: 8px 8px 0 8px;
	background-color: var(--pbmit-xclean-white-color);
	border: 1px solid #e5e5e5;
	border-bottom: none;
	position: relative;
}
.pbmit-testimonial-style-2 .pbmit-featured-wrapper::before,
.pbmit-testimonial-style-2 .pbmit-featured-wrapper::after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 20px;
	border: 1px solid #e5e5e5;
	border-top: none;
	background-color: transparent;
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-white-color);
}
.pbmit-testimonial-style-2 .pbmit-featured-wrapper::before {
	border-radius: 0 0 30px 0;
	border-left: 0;
	right: 100%;
}
.pbmit-testimonial-style-2 .pbmit-featured-wrapper::after {
	border-radius: 0px 0px 0px 30px;
	border-right: 0;
	left: 100%;
}
.pbmit-testimonial-style-2 .pbmit-featured-img-wrapper{
	display: inline;
	position: absolute;
	bottom: -1px;
	right: 55px;
}
.rtl .pbmit-testimonial-style-2 .pbmit-featured-img-wrapper{
	left: 55px;
	right: inherit;
}
.pbmit-testimonial-style-2 .pbminfotech-box-desc {
	position: relative;
}
.pbmit-testimonial-style-2 .pbminfotech-box-desc::before {
	font-family: "pbminfotech-base-icons";
	content: "\e865";
	position: absolute;
	left: 0;
	top: 0;
	font-size: 40px;
	line-height: 40px;
	color: var(--pbmit-xclean-global-color);
}
.rtl .pbmit-testimonial-style-2 .pbminfotech-box-desc::before{
	left: inherit;
	right: 0;
}
.pbmit-testimonial-style-2 .pbminfotech-testimonial-text{
	font-size: 24px;
	line-height: 36px;
	margin: 0;
	padding: 60px 0 40px 0;
	border: 0;
	font-weight: 600;
	color: var(--pbmit-xclean-blackish-color);
}
/* Bg Color */
.pbmit-elementor-bg-color-secondary .pbmit-testimonial-style-2 .pbminfotech-box-title,
.pbmit-elementor-bg-color-secondary .pbmit-testimonial-style-2 .pbminfotech-testimonial-text,
.pbmit-elementor-bg-color-blackish .pbmit-testimonial-style-2 .pbminfotech-box-title,
.pbmit-elementor-bg-color-blackish .pbmit-testimonial-style-2 .pbminfotech-testimonial-text {
	color: var(--pbmit-xclean-white-color);
}
.pbmit-elementor-bg-color-secondary .pbmit-testimonial-style-2 .pbminfotech-testimonial-detail,
.pbmit-elementor-bg-color-blackish .pbmit-testimonial-style-2 .pbminfotech-testimonial-detail {
	color: rgba(var(--pbmit-xclean-white-color-rgb), 0.6);
}
.pbmit-elementor-bg-color-gradient .pbmit-testimonial-style-2 .pbminfotech-box-desc::before,
.pbmit-elementor-bg-color-globalcolor .pbmit-testimonial-style-2 .pbminfotech-box-desc::before {
	color: var(--pbmit-xclean-blackish-color);
}
/* Bg Color light */
.pbmit-elementor-bg-color-light .pbmit-testimonial-style-2 .pbminfotech-post-item {
	background-color: rgba(var(--pbmit-xclean-white-color-rgb), 0.1);
}
.pbmit-elementor-bg-color-light .pbmit-testimonial-style-2 .pbmit-featured-wrapper {
	background-color: var(--pbmit-xclean-light-bg-color);
}
.pbmit-elementor-bg-color-light .pbmit-testimonial-style-2 .pbmit-featured-wrapper::before,
.pbmit-elementor-bg-color-light .pbmit-testimonial-style-2 .pbmit-featured-wrapper::after {
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-light-bg-color);
}
/* Bg Color Blackish */
.pbmit-elementor-bg-color-blackish .pbmit-testimonial-style-2 .pbminfotech-post-item {
	background-color: transparent;
	border-color: #263a55
}
.pbmit-elementor-bg-color-blackish .pbmit-testimonial-style-2 .pbmit-featured-wrapper {
	background-color: var(--pbmit-xclean-blackish-color);
	border-color: #263a55;
}
.pbmit-elementor-bg-color-blackish .pbmit-testimonial-style-2 .pbmit-featured-wrapper::before,
.pbmit-elementor-bg-color-blackish .pbmit-testimonial-style-2 .pbmit-featured-wrapper::after {
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-blackish-color);
	border-color: #263a55;
}
/* Bg Color Secondary */
.pbmit-elementor-bg-color-secondary .pbmit-testimonial-style-2 .pbminfotech-post-item {
	background-color: transparent;
	border-color: #263a55
}
.pbmit-elementor-bg-color-secondary .pbmit-testimonial-style-2 .pbmit-featured-wrapper {
	background-color: var(--pbmit-xclean-secondary-color);
	border-color: #263a55;
}
.pbmit-elementor-bg-color-secondary .pbmit-testimonial-style-2 .pbmit-featured-wrapper::before,
.pbmit-elementor-bg-color-secondary .pbmit-testimonial-style-2 .pbmit-featured-wrapper::after {
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-secondary-color);
	border-color: #263a55;
}
/* Bg Color Globalcolor */
.pbmit-elementor-bg-color-gradient .pbmit-testimonial-style-2 .pbminfotech-post-item,
.pbmit-elementor-bg-color-globalcolor .pbmit-testimonial-style-2 .pbminfotech-post-item {
	background-color: transparent;
	border-color: #fcbf59
}
.pbmit-elementor-bg-color-gradient .pbmit-testimonial-style-2 .pbmit-featured-wrapper,
.pbmit-elementor-bg-color-globalcolor .pbmit-testimonial-style-2 .pbmit-featured-wrapper {
	background-color: var(--pbmit-xclean-global-color);
	border-color: #fcbf59;
}
.pbmit-elementor-bg-color-gradient .pbmit-testimonial-style-2 .pbmit-featured-wrapper::before,
.pbmit-elementor-bg-color-gradient .pbmit-testimonial-style-2 .pbmit-featured-wrapper::after,
.pbmit-elementor-bg-color-globalcolor .pbmit-testimonial-style-2 .pbmit-featured-wrapper::before,
.pbmit-elementor-bg-color-globalcolor .pbmit-testimonial-style-2 .pbmit-featured-wrapper::after {
	box-shadow: 0 20px 0 0 var(--pbmit-xclean-global-color);
	border-color: #fcbf59;
}
/* Column Set */
.pbmit-element-column-four .pbmit-testimonial-style-2 .pbminfotech-post-item {
	padding: 30px;
}
.pbmit-element-column-three .pbmit-testimonial-style-2 .pbminfotech-post-item {
	padding: 40px 40px 30px 40px;
}
@media (max-width: 1200px) {
	.pbmit-testimonial-style-2 .pbminfotech-post-item {
		padding: 60px 60px 50px 60px;
	}
}
@media (max-width: 1024px) {
	.pbmit-testimonial-style-2 .pbminfotech-post-item {
		padding: 50px 50px 50px 50px;
	}
}
@media (max-width: 991px) {
	.pbmit-testimonial-style-2 .pbminfotech-post-item {
		padding: 40px 40px 50px 40px;
	}
}
@media (min-width: 575px) and (max-width: 767px) {
	.pbmit-testimonial-style-2 .pbmit-featured-wrapper img {
		width: 50px;
		height: 50px;
	}
}